@media screen and (max-width: 767px) {
  body {
    overflow: hidden;
    overflow-x: hidden;
  }

  html {
    font-size: 0.20351966873706vw;
  }

  /*
  ________________ 
  BURGER MENU */

  .site-header {
    display: none;
  }

  .site-header-responsive {
    height: 90rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20rem;
    position: fixed;
    z-index: 100;
    background-color: white;
  }

  .site-header-linkedin-responsive a::before {
    font-family: "icomoon";
    content: "\e902";
    font-size: 30rem;
    font-family: "icomoon";
    color: black;
    display: inline-block;
  }

  .site-header-behance-responsive a::before {
    font-family: "icomoon";
    content: "\e904";
    font-size: 30rem;
    font-family: "icomoon";
    color: black;
    display: inline-block;
  }

  .site-header-menu-item-responsive a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-family: "p22_johnston_undergroundbold";
    font-weight: 400;
    font-size: 16rem;
    padding-bottom: 4rem;
  }

  .site-header-logo-responsive {
    z-index: 20;
  }

  .site-header-menu-item-responsive:first-child {
    padding-top: 80rem;
  }

  .slide-line::before {
    display: none;
  }

  .burger {
    position: absolute;
    left: 30rem;
    top: 20rem;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  .burger-line {
    position: relative;
    z-index: 20;
    margin-bottom: 10rem;
    width: 50rem;
    height: 8rem;
    background-color: #25378a;
    display: block;
    border-radius: 6px;
    transition: all 0.3s;
    transform-origin: 0 50%;
  }

  .burger-line:last-child {
    margin-bottom: 0;
  }

  .burger.active .burger-line:nth-child(1) {
    transform-origin: 0 50%;
    transform: rotate(45deg);
  }

  .burger.active .burger-line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .burger-line:nth-child(3) {
    transform-origin: 0 50%;
    transform: rotate(-45deg);
  }

  .site-header-menu-responsive {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10rem;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    transition: all 300ms linear;
    transform: translateY(-550rem);
  }

  .site-header-menu-responsive.active {
    transform: translateY(0);
    box-shadow: 2px 0px 5px 0px rgba(12, 0, 50, 0.5);
  }

  .site-header-menu-responsive li {
    margin: 3% 0;
    font-size: 20rem;
  }

  .site-header-menu-item-responsive a {
    font-size: 20rem;
  }

  /*
    ________________
    PAGE D'ACCEUIL   */

  .main-article-position {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 0%;
    padding-right: 0%;
  }

  .main-title-style {
    font-size: 30rem;
    line-height: 50rem;
  }

  .main-paragraph-position {
    width: 80%;
  }

  .side-position {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .first-plate img {
    width: 75%;
  }

  .second-plate img {
    width: 45%;
  }

  .third-plate img {
    width: 50%;
  }

  .third-plate {
    left: 15%;
    top: 45%;
  }

  .forth-plate img {
    width: 35%;
  }

  .forth-plate {
    left: 35%;
    top: 20%;
  }
  .main-homepage-article-pictures {
    margin-bottom: 20rem;
  }

  .download {
    height: 60rem;
    padding: 0 20rem;
    border-radius: 20rem;
    font-size: 20rem;
  }

  .title-disposition {
    padding-top: 8%;
  }

  .panneau {
    height: 25vh;
  }

  .places {
    flex-direction: column;
  }

  .item-city-nav {
    font-size: 35rem;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom-item {
    font-size: 16rem;
  }

  .footer-item {
    margin-bottom: 20rem;
    margin-left: 10%;
  }

  /*
    ________________
    PAGE CV   */

  .cv {
    height: 70vh;
  }

  /*
________________
PAGE CONTACT   */

  .carte-visite {
    width: auto;
    height: 85vh;
    position: relative;
    top: 0;
    left: -70%;
  }

  /*
________________
PAGE MENTIONS   */

  .mentions-legales {
    width: 80vw;
  }

  /*
    ________________
    PAGE PROJETS   */

  .project-leftside {
    align-items: center;
  }

  .projet-image {
    max-width: 90vw;
  }

  /* IMAGE GRILLE   */

  .image-grid {
    flex-direction: column;
    padding: 5% 5%;
    height: auto;
  }

  .image-column:first-child {
    margin-right: 0;
  }

  .image-item:last-child {
    margin-bottom: 40rem;
  }

  .image-item .image-item-link div {
    width: 50px;
  }

  /*
    ________________
    PAGES PROJET   */
  .project-organization {
    flex-direction: column-reverse;
  }

  .project-leftside {
    width: 100%;
    margin-top: 5%;
    align-items: center;
  }

  .project-rightside {
    width: 80%;
  }

  .project-title {
    margin-left: 10vw;
  }

  .project-description {
    margin-left: 10vw;
    width: 80vw;
  }

  .portfolio-button {
    margin-left: 10vw;
  }

  .projet-image {
    width: auto;
    height: 35vh;
  }

  .button-disposition {
    display: flex;
    flex-direction: column;
  }

  .projet-image-long {
    height: 120vh;
  }

  .wrapper svg {
    width: 80rem;
  }
}
