@charset "utf-8";

html {
  font-size: 1px;
}

/*
_________________
REPEATED STYLES */

/* button */

.download {
  text-decoration: none;
  position: relative;
  z-index: 0;
  height: 50rem;
  padding: 0 25rem;
  border-radius: 20rem;
  background-color: #25378a;
  color: #ffffff;
  font-family: "p22_johnston_undergroundbold";
  font-weight: 200;
  font-size: 16rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
  border: 1px solid #25378a;
  display: flex;
  text-align: center;
  align-items: center;
}

.download::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ffffff;
  width: 0%;
  height: 100%;
  transition: all 0.5s;
}

.download:hover {
  color: #25378a;
}

.download:hover::before {
  width: 100%;
}

.icon-download {
  margin-left: 20px;
  font-size: 25rem;
}

/* petite bande */

.title-line {
  width: 10%;
  height: 20rem;
  margin-right: 2%;
  border-radius: 0px 12px 12px 0px;
}
.title-line-color-1 {
  background: #ebac08;
}

.third-title-color-1 {
  color: #ebac08;
}

.title-line-color-2 {
  background: #864d55;
}

.third-title-color-2 {
  color: #864d55;
}

.title-disposition {
  padding-top: 3%;
  display: flex;
  align-items: center;
  width: 100%;
}

.third-title-style {
  font-family: "p22_johnston_undergroundbold";
  font-size: 50rem;
}

.forth-title-style {
  font-family: "futuraheavy";
  font-size: 35rem;
  margin-bottom: 20rem;
  color: #25378a;
}

.main-text-style {
  font-family: "futurabook";
  font-size: 20rem;
  line-height: 30rem;
}

/* whitespace */

.whitespace {
  height: 100rem;
}

/*
_________________
HEADER */

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

.site-header {
  height: 90rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20rem;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.site-logo {
  width: 90rem;
  height: auto;
  margin: 0rem 30rem;
  transition: all 500ms ease-out;
}

.site-logo:hover {
  opacity: 80%;
  transition: all 300ms ease-out;
}

.site-header-menu {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20rem;
  position: relative;
  transition: all 500ms ease-out;
}

.site-header-menu-item a {
  text-decoration: none;
  color: black;
  font-family: "p22_johnston_undergroundbold";
  font-weight: 400;
  font-size: 16rem;
  padding-bottom: 4rem;
}

.site-header-menu-item:last-child {
  margin-right: 0;
}

.slide-line {
  margin-bottom: 50rem;
  text-decoration: none;
  position: relative;
}

.slide-line::before {
  content: "";
  position: absolute;
  background: #ebac08;
  width: 100%;
  height: 5rem;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.slide-line:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.site-header-tools {
  display: flex;
}

.site-header-tools li {
  margin-right: 20rem;
}

.site-header-tools li:last-child {
  margin-right: 0;
}

.site-header-tools a {
  text-decoration: none;
}

.site-header-tools a::before {
  font-family: "icomoon";
  color: black;
  display: inline-block;
  transition: transform 100ms ease-in;
  transform: scale(1);
}

.site-header-tools a:hover::before {
  color: #ebac08;
  transform: scale(1.2);
}

.site-header-linkedin a::before {
  font-family: "icomoon";
  content: "\e902";
  font-size: 20rem;
}

.site-header-behance a::before {
  font-family: "icomoon";
  content: "\e904";
  font-size: 20rem;
}

/*
________________ 
BURGER MENU */
.site-header-responsive {
  display: none;
}

.burger {
  display: none;
}

/*
_________________
MAIN ARTICLE */

.main-article-position {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 30rem;
}

.side-position {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10%;
  align-items: flex-start;
}

.main-title-style {
  font-size: 35rem;
  font-family: "p22_johnston_undergroundbold";
  line-height: 45rem;
  color: black;
}

.main-title-position {
  margin-bottom: 30rem;
}

.main-title-first-part {
  font-weight: 400;
}

.main-title-position span {
  display: block;
  opacity: 0;
  transform: translateY(-30px);
}

.main-title-position > span:nth-child(1) {
  animation: apparition 0.8s 0.2s ease-out forwards;
}

.main-title-position > span:nth-child(2) {
  animation: apparition 0.8s 0.4s ease-out forwards;
}

.main-title-position > span:nth-child(3) {
  animation: apparition 0.8s 0.6s ease-out forwards;
}

.main-paragraph-position {
  width: 80%;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.8s ease-out forwards;
}

.main-download-button {
  margin-top: 30rem;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.9s ease-out forwards;
}

.main-homepage-article-pictures {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.plate {
  position: absolute;
  opacity: 0;
  transform: translateX(30px);
  animation: apparition 0.8s ease-out forwards;
}

.plate img {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.45));
}

.first-plate {
  left: 25%;
  top: 65%;
  z-index: 3;
  animation-delay: 1.6s;
}

.first-plate img {
  width: 65%;
}

.second-plate {
  left: 12%;
  top: 30%;
  z-index: 2;
  animation-delay: 1.2s;
}

.second-plate img {
  width: 35%;
}

.third-plate {
  left: 4%;
  top: 45%;
  z-index: 1;
  animation-delay: 1.4s;
}

.third-plate img {
  width: 80%;
}

.forth-plate {
  left: 25%;
  top: 30%;
  z-index: 0;
  animation-delay: 1s;
}

.forth-plate img {
  width: 55%;
}

/*
_________________
PARALLAX WINDOW PROJECTS */

.parallax-window {
  background-image: url(../img/speed2.jpg);
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  position: relative;
}

.panneau {
  height: 45vh;
  width: auto;
  cursor: pointer;
}

.panneau:hover {
  opacity: 80%;
  transition: all 300ms ease-out;
}

.panneau-disposition {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/*
_________________
SKILLS */

.places-article-title {
  text-align: center;
  padding-top: 50rem;
}

.places {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.places-list {
  padding-right: 40rem;
}

.item-city-nav {
  font-family: "p22_johnston_undergroundbold";
  font-size: 35rem;
  padding: 5rem;
  color: black;
  cursor: pointer;
}

.item-city-nav.active {
  color: #864d55;
}

.city-pic {
  width: 140rem;
  height: 140rem;
  border-radius: 50%;
  border: 10rem solid #864d55;
  object-fit: cover;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}

.city-pic.active {
  transform: scale(1.1);
  border-width: 7rem;
}

/*
_________________
FOOTER */

.item:hover {
  opacity: 0.5;
}

.footer-underline {
  border-bottom: 3rem solid black;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30rem;
}

.footer-bottom-item {
  text-decoration: none;
  color: black;
  font-family: "p22_johnston_undergroundbold";
  font-weight: 400;
  font-style: normal;
  font-size: 14rem;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.footer-bottom-item:hover {
  opacity: 0.5;
}
