@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");

/* font-family: 'Lexend', sans-serif; */

@font-face {
  font-family: "dk_plakkaatregular";
  src: url("dk_plakkaat-webfont.woff2") format("woff2"),
    url("dk_plakkaat-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'dk_plakkaatregular'; */
