@charset "utf-8";
@import url("https://use.typekit.net/vdn4nsc.css");

/* Acumin Pro Bold
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Bold Italic
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Italic
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro Regular
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;

Acumin Pro ExtraCondensed Bold
font-family: acumin-pro-extra-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro ExtraCondensed Bold Italic
font-family: acumin-pro-extra-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro ExtraCondensed Regular
font-family: acumin-pro-extra-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Acumin Pro ExtraCondensed Italic
font-family: acumin-pro-extra-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro Condensed Bold
font-family: acumin-pro-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Condensed Bold Italic
font-family: acumin-pro-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Condensed Regular
font-family: acumin-pro-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Acumin Pro Condensed Italic
font-family: acumin-pro-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro SemiCondensed Bold
font-family: acumin-pro-semi-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro SemiCondensed Bold Italic
font-family: acumin-pro-semi-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro SemiCondensed Regular
font-family: acumin-pro-semi-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Acumin Pro SemiCondensed Italic
font-family: acumin-pro-semi-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro Wide Bold
font-family: acumin-pro-wide, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Wide Bold Italic
font-family: acumin-pro-wide, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Wide Regular
font-family: acumin-pro-wide, sans-serif;
font-weight: 400;
font-style: normal;

Acumin Pro Wide Italic
font-family: acumin-pro-wide, sans-serif;
font-weight: 400;
font-style: italic; */
